@tailwind base;

body {
  @apply font-sans antialiased;
}

body.ReactModal__Body--open > div[aria-hidden="true"] {
  filter: blur(10px);
}

@tailwind components;

@tailwind utilities;

.grayscale-1 {
  filter: grayscale(1);
}

.blend-multiply {
  mix-blend-mode: multiply;
}
